{% load static %}
<footer class="bj_footer_area_two" data-bg-color="#CDF0F0">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="f_widget f_widget_dark link_widget">
                        <a href="#" class="f_logo">
                            <img src="{% static 'assets/img/home-two/logo-dark.svg' %}" alt="f_logo">
                        </a>
                        <div class="footer_subscribes">
                            <h2 class="f_widget_title dark">Subscribe Now</h2>
                            <form action="#">
                                <div class="footer_subscribe_form">
                                    <input type="text" placeholder="Enter your Email" class="form-control">
                                    <button type="submit" class="bj_theme_btn">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="f_widget f_widget_dark link_widget">
                        <h2 class="f_widget_title dark">Company</h2>
                        <ul class="list-unstyled list">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="blog-grid.html">Blog</a></li>
                            <li><a href="author.html">Author</a></li>
                            <li><a href="book-listing.html">Books</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="f_widget f_widget_dark link_widget">
                        <h2 class="f_widget_title dark">Services</h2>
                        <ul class="list-unstyled list">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="my-orders.html">Order</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="my-wishlist.html">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="f_widget f_widget_dark link_widget">
                        <h2 class="f_widget_title dark">Pages</h2>
                        <ul class="list-unstyled list">
                            <li><a href="login.html">Login</a></li>
                            <li><a href="registration.html">Register</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="404.html">404 Page</a></li>
                            <li><a href="my-ebook-library.html">Ebook Library</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="f_widget f_widget_dark link_widget">
                        <h2 class="f_widget_title dark">Contacs Us</h2>
                        <ul class="list-unstyled list">
                            <li><a href="tel:610383766284"><i class="fa-solid fa-phone-volume"></i>+61 (0) 3 8376 6284</a></li>
                            <li><a href="mailto:noreply@bookjar.com"><i class="fa-solid fa-envelope"></i>noreply@bookjar.com</a></li>
                        </ul>
                        <ul class="list-unstyled f_social_round">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom_dark d-flex justify-content-center">
            <p>© 2024 Bookjar. All Rights Reserved</p>
        </div>
    </div>
</footer>
