{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/light-mode.css' %}" id="theme"   data-light="{% static 'assets/light-mode.css' %}" data-dark="{% static 'assets/dark-mode.css' %}">
    <link rel="stylesheet" href="{% static 'assets/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    {% block body %}{% endblock %}
    <div id="switchMode" class="bi bi-lightbulb zz"></div>
    <script src="{% static 'assets/scripts.js' %}"></script>
</body>
</html>
