<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка PDF</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container1">
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div calss="nav">
                <ul class="nav-links">
                    <li><a href="./index.html">Menu</a></li>
                    <hr width="80%" align="center"> 
                    <li><a href="./document.html">Hujjatlar</a></li>
                    <hr width="80%" align="center"> 
                    <li><a href="./list.html">Rivojlanish xaritasi</a></li>
                    <hr width="80%" align="center"> 
                    <li><a href="#">bir narsa</a></li>
                    <hr width="80%" align="center"> 
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            <div class="logo">
                <img src="./detsad (1).png" alt="Logo">
            </div>
        </div>
    </header>

    <div class="overlay"></div> <!-- Оверлей -->

    <div class="container" align="center">
        <div id="cards-container">
            <!-- Карты PDF файлов будут добавляться сюда динамически -->
            <div class="card" data-url="./Рус кундузги Намуна БМИ.pdf">
                <img alt="PDF 1">
                <div class="card-title">PDF 1</div>
                <button class="download-button">Смотреть</button>
            </div>
            <div class="card" data-url="./Рус кундузги Намуна БМИ.pdf">
                <img alt="PDF 2">
                <div class="card-title">PDF 2</div>
                <button class="download-button">Смотреть</button>
            </div>
            <!-- Добавьте сюда другие карты PDF файлов -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.4.456/pdf.min.js"></script>
    <script src="./app.js"></script>
</body>
</html>
