{% load static %}

<header class="page-head header-panel-absolute">
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-default" data-auto-height="false" data-lg-auto-height="true"
      data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
      data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
      data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static"
      data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="210px"
      data-xl-stick-up-offset="85px" data-xxl-stick-up-offset="85px" data-lg-stick-up="true" data-xl-stick-up="true"
      data-xxl-stick-up="true">
      <div class="rd-navbar-inner">
        <div class="rd-navbar-panel">
          <button class="rd-navbar-toggle"
            data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
          <h4 class="panel-title d-lg-none">Asosiy</h4>
          <!-- RD Navbar Right Side Toggle-->
          <button class="rd-navbar-top-panel-toggle d-lg-none"
            data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
          <div class="rd-navbar-top-panel">
            <div class="rd-navbar-top-panel-left-part">
              <ul class="list-unstyled">
                <li>
                  <div class="unit flex-row align-items-center unit-spacing-xs">
                    <div class="unit-left"><span class="icon mdi mdi-phone align-middle"></span></div>
                    <div class="unit-body"><a href="tel:+998904362022">+998-90-726-90-80</a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="unit flex-row align-items-center unit-spacing-xs">
                  </div>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="rd-navbar-menu-wrap clearfix">
          <!--Navbar Brand-->
          <div class="rd-navbar-brand"><a class="d-inline-block" href="/{{language}}">
              <div class="unit align-items-sm-center unit-xl unit-spacing-custom">
                <div class="unit-left"><img width='171' height='171' src="{% static 'media/logo.png' %}" alt='' /></div>
                <div class="unit-body">
                  <div class="rd-navbar-brand-title">NAME</div>
                  <div class="rd-navbar-brand-slogan">XUSUSIY KORXONASI</div>
                </div>
              </div>
            </a></div>
          <div class="rd-navbar-nav-wrap">
            <div class="rd-navbar-mobile-scroll">
              <div class="rd-navbar-mobile-header-wrap">
                <!--Navbar Brand Mobile-->
                <div class="rd-navbar-mobile-brand"><a href="/{{language}}"><img width='136' height='138'
                      src="{% static 'media/logo.png' %}" alt='' /></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <ul class="rd-navbar-nav">
                <li class=""><a href="/{{language}}">Sklad</a></li>
                <li><a href="/kirim">Kirim</a></li>
                <li><a href="/chiqim">Chiqim</a></li>
                <li><a href="/finance-driver">Finans</a></li>
                <li><a href="/documents">Dokumentlar</a></li>
                <!-- <li><a href="/select_documents">Document</a></li> -->
              
                <li>
                  <a href="logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Chiqish({{ user.username }})</a></li>
                </li>
              </ul>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>