{% extends "./base.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<div class="container">
  <div class="bola__buttons  mt-150">
    <div class="button_bola button_bola1" onclick="showWindow('window1')">Окно 1</div>
    <div class="button_bola button_bola2" onclick="showWindow('window2')">Окно 2</div>
    <div class="button_bola button_bola3" onclick="showWindow('window3')">Окно 3</div>
  </div>
  <div id="window1" class="window">
    <h2>Окно 1</h2>
    <p>Содержимое окна 1.</p>
  </div>
  <div id="window2" class="window">
    <h2>Окно 2</h2>
    <p>Содержимое окна 2.</p>
  </div>
  <div id="window3" class="window">
    <h2>Окно 3</h2>
    <p>Содержимое окна 3.</p>
  </div>
  <button class="accordion">Секция 1</button>
  <div class="panel">
    <p>Содержимое секции 1.</p>
  </div>

  <button class="accordion">Секция 2</button>
  <div class="panel">
    <p>Содержимое секции 2.</p>
  </div>

  <button class="accordion">Секция 3</button>
  <div class="panel">
    <p>Содержимое секции 3.</p>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.4.456/pdf.min.js"></script>
<script src="./app.js"></script>
{% endblock %}