<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка PDF</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container1">
            
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div calss="nav">
                <ul class="nav-links">
                    <li><a href="./index.html">Menu</a></li>
                    <hr width="80%" align="center"> 
                    <li><a href="./document.html">Hujjatlar</a></li>
                    <hr width="80%" align="center"> 
                    <li><a href="./list.html">Rivojlanish xaritasi</a></li>
                    <hr width="80%" align="center"> 
                    <li><a href="#">bir narsa</a></li>
                    <hr width="80%" align="center"> 
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            <div class="logo">
                <a href="">
                    <img src="./detsad (1).png" alt="Logo">
                </a>
            </div>
        </div>
    </header>
    <div class="overlay"></div> 
    <div class="container" align="center">
        <div class="button1 button">
            <a href="./document.html">
                Hujjatlar
            </a>
        </div>
        <div class="button2 button">
            <a href="./document.html">
                Rivojlanish xaritasi
            </a>
        </div>
        <div class="button3 button"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.4.456/pdf.min.js"></script>
    <script src="./app.js"></script>
</body>
</html>
